    <div class="footerB">
      <img src="images/BEGA.png" class="logo" alt="">
      <div class="footer_redes">
        <i class="bi bi-instagram"></i>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-whatsapp"></i>
      </div>
    </div>
