    <div class="footerB">
      <img src="images/BEGA.png" class="logo" alt="">
      <div class="footer_redes">
        <img src="/images/instagram.png" >
        <img src="/images/facebook.png" >
        <img src="/images/whatsapp.png" >
      </div>
    </div>
