    <div class="footerB" style="height: 65px;">
      <img src="images/BEGA.png" class="logo" alt="">
      <div class="footer_redes">
        <a href="#">
          <img src="/images/instagram.png" >
        </a>
        <a href="#">
          <img src="/images/facebook.png" >
        </a>
        <a href="#">
          <img src="/images/whatsapp.png" >
        </a>
      </div>
    </div>
