<div class="footerB">
    <img src="/images/BEGA.png" class="logo" alt="">
    <div>
      <p>© 2023 BEGA</p>
      <p>Begaproductos@gmail.com</p>
    </div>
    <div class="footer_redes">
      <a href=""><i class="bi bi-instagram"></i></a>
      <a href=""><i class="bi bi-facebook"></i></a>
      <a href=""><i class="bi bi-whatsapp"></i></a>
    </div>
</div>