<div class="footerB">
    <img src="/images/BEGA.png" class="logo" alt="">
    <p>© 2023 BEGA</p>
    <div class="footer_redes">
      <i class="bi bi-instagram"></i>
      <i class="bi bi-facebook"></i>
      <i class="bi bi-whatsapp"></i>
    </div>
</div>