<nav class="navbar navbar-light navbar-expand-lg fixed-top" style="background-color: #0093ff; height: 100px;"> 
    <img src="/images/BEGA.png" class="logo" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" style="margin-left: 20px;">
        <li class="nav-item ">
          <a class="nav-link" href="index.html">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cotizaciones.html">Cotizaciones</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="productos.html">Listar Productos</a>
            <a class="dropdown-item" href="RegistrarProducto.html">Registrar producto</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" style="width: 525px;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit" style="display: flex;   width: 40px;">
            <i class="bi bi-search"></i>
        </button>
        <% if (sesion === "") { %>
          <a class="sesion" type="button" href="api/inicioSesion">Inicia sesion</a>
          <a class="sesion" type="button" href="api/registro">Registrate</a>
        <% } else { %>
          <p class="sesion">Bienvenido, <%=sesion.rol%>.</p>
        <% } %>
      </form>
    </div>
  </nav>