<nav class="navbar navbar-light navbar-expand-lg fixed-top" style="background-color: #0093ff; height: 65px;"> 
    <img src="images/BEGA.png" class="logo" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" style="margin-left: 20px;">
        <li class="nav-item ">
          <a class="nav-link" href="index">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cotizar">Cotizaciones</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="catalogo.ejs">Catálogo de productos</a>
            <a class="dropdown-item" href="products">Registrar producto</a>
          </div>
        </li>
      </ul>
      <ul>
        <form class="form-inline my-2 my-lg-0" style="width: 590px;">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit" style="display: flex; flex-direction: nowrap; justify-content: space-between; width: 30px;">
              <i class="bi bi-search"></i>
          </button>
          <a class="sesion" type="button" href="api/inicioSesion">Inicia sesion</a>
          <a class="sesion" type="button" href="api/registro">Registrate</a>
          <div class="carritocompras">
            <button class="btn btn-outline-light" id="carritonavbar" type="button" onclick="pintarCarrito()" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-cart4"></i>
          </div>
        </form>
      </ul>
    </div>
  
  </nav>
  <!-- OffCanvas -->
  <div class="offcanvas offcanvas-end" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title">Carrito</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body" data-target="#vercarro" id="bodycarrito">

    </div>

    <div class="offcanvas-footer" id="totalProduct">
        <button type="button" class="btn btn-dark">Comprar</button>
    </div>
  </div>
