<nav class="navbar navbar-light navbar-expand-lg fixed-top" style="background-color: #0093ff; height: 70px; padding: 10px;"> 
    <img src="/images/BEGA.png" class="logo" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" style="margin-left: 20px;">
        <% if (sesion === "admin") { %>
          <li class="nav-item ">
            <a class="nav-link" href="landing">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Cotizaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="usuariosVista">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="users">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="products">Productos</a>
          </li>
        <% } else { %>
          <li class="nav-item ">
            <a class="nav-link" href="landing">Inicio <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cotizaciones.html">Cotizaciones</a>
          </li>
        <% } %>
      </ul>
      <form class="form-inline my-2 my-lg-0" style="width: 590px;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit" style="display: flex;   width: 40px;">
            <i class="bi bi-search"></i>
        </button>
        <% if (sesion === "") { %>
          <a class="sesion" type="button" href="api/inicioSesion">Inicia sesion</a>
          <a class="sesion" type="button" href="api/registro">Registrate</a>
          <button class="btn btn-primary" type="button" onclick="mostrarCarrito()" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <i class="bi bi-cart-plus-fill"></i>
          </button>
        <% } else { %>
          <p class="sesion">Bienvenido, <%= sesion %></p>
          <button class="btn btn-primary" type="button" onclick="mostrarCarrito()" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <i class="bi bi-cart-plus-fill"></i>
          </button>
          <button class="btn btn-primary" style="margin-left: 8px;" type="button" onclick="cerrarSesion()">
            Salir <i class="bi bi-box-arrow-left"></i>
          </button>
        <% } %>
      </form>
    </div>
  </nav>