body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 700px;
    max-height: 600px;
    margin: 160px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    outline: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button,
.botonR {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0093ff;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 5px;
    text-decoration: none;
}

button,
.boton:hover {
    background-color: #0064ac;
}

.botonR:hover {
    background-color: #0064ac;
    color: #fff;
}

.logo{
    width: 155px;
}

.navbar{
    background-color: #0093ff;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}