body{
  font-family: 'Cabin', sans-serif;
}
.Productos-categoria{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
body {
  margin: 0; /* Eliminar márgenes predeterminados del body */
}

body {
  margin: 0;
}

.footerB {
  background-color: #007bff;
  color: #fff;
  padding: 8px; /* Reducir la altura ajustando el padding */
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
}

.logo {
  width: 100px;
}

.footerB div {
  margin: 0 10px;
}

.footer_redes a {
  color: #fff;
  margin-right: 15px; /* Aumentar el espaciado entre íconos */
  font-size: 35px; /* Aumentar el tamaño de los íconos */
  text-decoration: none;
}

.subtitulos{
  margin: 60px 0px;
  text-align: center;
}
.masvendidos{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.nav-link{
  color: white !important;
  font-size: 18px;
  font-weight: 500 ;
}
.descu{
  position: absolute;
  top: 30%;
  left: 6%;
  font-size: 238%;
  font-weight: 800;
  letter-spacing: 13px;
  background-color: white;
  opacity: 0.7;
  width: 50%;
  text-align: center;
}
.coti_tittle{
  text-align: center;
  margin: 150px 270px 283px 0px;
  color: #0093ff;
  font-weight: bold;
  font-size: 60px;
}
.coti_form {
  border: #0093ff 2px solid;
  padding: 50px;
  border-radius: 15px;
  margin-bottom: 70px;
  background: #ffffffad;
}
.cuerpo-carrito{
  border: 1px black solid;
  height: 500px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  padding: 26px;
  flex-wrap: wrap;
  margin: 10px;
  overflow-y: scroll;
}
.card{
  margin-bottom: 20px;
}
.TituloCarrito{
  font-weight: 500;
  text-align: center;
  margin: 70px 0px 20px 0px;
}
.containerCarrito{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 1px black solid;
  width: 650px;
  height: 350px;
  border-radius: 10px;
  margin: 10px;
}

.modalRegister{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.sesion{
  display: inline-block;
  padding: 10px 20px 10px 10px;
  background-color: #0093ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.sesion:hover {
  background-color: #0268b3;
  color: white;
  text-decoration: none;
}

.titulo-tipo{
  display: flex;
  justify-content: flex-start;
  font-size: 40px;
  padding: 0px 50px;
  font-weight: bold;
}

.listaCarrito{
  display: flex;
  justify-content: space-between;
  border: 1px solid #00000038;
  height: 135px;
  border-radius: 17px;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 6px 4px 13px 0px gray;
}

.listaCarrito img {
  width: 90px;
  border-radius: 10px;
}

.listaCarrito p {
  margin-top: 18px;
}

.cantidad-carrito {
  background-color: white;
  color: black;
  border-radius: 43%;
  font-size: 12px;
  padding: 4px;
  box-shadow: inset 0 0 4px 0px #0000006b;
  right: 30px;
  width: 22px;
  text-align: center;
}

.eliminar-producto{
  cursor: pointer;
  border-radius: 10px;
  width: 22px;
  text-align: center;
  margin-bottom: auto;
  font-size: x-large;
}

.aumentar-producto{
  cursor: pointer;
  background-color: #33e133;
  border-radius: 10px;
  width: 22px;
  text-align: center;
}

.disminuir-producto{
  cursor: pointer;
  background-color: #ff4646;
  border-radius: 10px;
  width: 22px;
  text-align: center;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 !important;
}

.offcanvas-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 70px;
  padding: 20px;
  color: #f4f4f4;
}

.head-tb{
  display: flex;
  justify-content: space-between;
}

.header-sign {
  display: flex;
  width: 590px;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

.form-control{
  border-radius: 10px;
}

#shop-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 22px;
}